EXPO_PUBLIC_API_TARGET=local
EXPO_PUBLIC_API_SCHEME=http
EXPO_PUBLIC_API_HOST=192.168.18.9
EXPO_PUBLIC_API_PORT=3000
EXPO_PUBLIC_API_PATH=/api/v1
EXPO_PUBLIC_API_RAILWAY_BASE_URL=https://api-production-159f1.up.railway.app/api/v1
